# .dockerignore

# Игнорируем кэши и артефакты сборки Gradle
.gradle
build

# Игнорируем настройки IDE
.idea
*.iml

# Игнорируем логи и временные файлы
logs
*.log

# Игнорируем систему контроля версий
.git
.gitignore

# Игнорируем зависимости Node.js (если вдруг появятся)
node_modules

# Игнорируем специфичные для ОС файлы
.DS_Store
Thumbs.db