# --- OS & IDE (Мусор от системы и редакторов) ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
*.iws
.project
.classpath
.settings/
.run/

# --- Environment Variables (Секреты) ---
.env
.env.*

# --- Logs ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- GRADLE & JAVA (Универсально для всех папок) ---
# Игнорируем папку .gradle везде (в корне и в микросервисах)
.gradle/

# Игнорируем папку build везде (там лежат скомпилированные классы и jar)
build/
out/

# Кэши задач Gradle
.gradletasknamecache

# Игнорируем скомпилированные файлы, но НЕ игнорируем gradle-wrapper.jar
*.jar
*.war
*.ear
!gradle/wrapper/gradle-wrapper.jar

# --- FRONTEND / NODE.JS (Универсально) ---
# Игнорируем node_modules везде (и в корне, и в frontend/)
node_modules/

# Папки сборки фронта
dist/
coverage/

# Yarn Berry (если вдруг используешь)
.pnp
.pnp.js

# --- DOCKER ---
# Если вдруг создаются локальные тома или логи в папках
.docker/